{{ define "main" }}
<div id="pageDialog" title="{{ if in .Page.Params.categories "homeschooling"  }}
    Hey Loura! Homeschooling
    {{ else if in .Page.Params.categories "lillihub"  }}
    Hey Loura! Lillihub
    {{ else if in .Page.Params.categories "code"  }}
    Hey Loura! Code
    {{ else if in .Page.Params.categories "RPG"  }}
    Hey Loura! RPG
    {{ else if in .Page.Params.categories "tai chi"  }}
    Hey Loura! Tai Chi
    {{ else }}
    Hey Loura!
    {{end}}" class="h-feed post-content">

{{ if in .Page.Params.categories "homeschooling" }}
    {{ partial "homeschool.html" . }}
{{ else if in .Page.Params.categories "code" }}
    {{ partial "code.html" . }}
{{ else if in .Page.Params.categories "lillihub" }}
    {{ partial "lillihub.html" . }}
{{ else if in .Page.Params.categories "RPG" }}
    {{ partial "rpg" . }}
{{ else if in .Page.Params.categories "tai chi" }}
    {{ partial "taichi" . }}
{{ else }}
    {{ partial "messenger-single.html" . }}
{{ end }}



</div>

<script>
$( "#pageDialog" ).dialog({ height: $(window).height() - 10, width: $(window).width() - 20 });
</script>
{{ end }}
