{{ define "main" }}
<div id="pageDialog" title="{{ if in .Page.Params.categories "homeschooling"  }}
    Hey Loura! Homeschooling
    {{ else if in .Page.Params.categories "lillihub"  }}
    Hey Loura! Lillihub
    {{ else if in .Page.Params.categories "code"  }}
    Hey Loura! Code
    {{ else if in .Page.Params.categories "RPG"  }}
    Hey Loura! RPG
    {{ else if in .Page.Params.categories "tai chi"  }}
    Hey Loura! Tai Chi
    {{ else }}
    Hey Loura!
    {{end}}" class="h-feed post-content">

{{ if in .Page.Params.categories "homeschooling" }}
    {{ partial "homeschool.html" . }}
{{ else if in .Page.Params.categories "code" }}
    {{ partial "code.html" . }}
{{ else if in .Page.Params.categories "lillihub" }}
    {{ partial "lillihub.html" . }}
{{ else if in .Page.Params.categories "RPG" }}
    {{ partial "rpg" . }}
{{ else if in .Page.Params.categories "tai chi" }}
    {{ partial "taichi" . }}
{{ else if eq .Permalink "https://heyloura.com" }}

{{ else }}
<style>
.avatar, .microblog_user {
    background: #5755d9;
    border-radius: 50%;
    color: rgba(255, 255, 255, .85);
    display: inline-block;
    font-size: .8rem;
    font-weight: 300;
    height: 1.6rem;
    line-height: 1.25;
    margin: 0;
    position: relative;
    vertical-align: middle;
    width: 1.6rem;
}
.avatar img, .microblog_user .microblog_avatar {
    border-radius: 50%;
    height: 100%;
    position: relative;
    width: 100%;
    z-index: 1;
}
.avatar.avatar-lg, .microblog_user .microblog_avatar {
    font-size: 1.2rem;
    height: 2.4rem;
    width: 2.4rem;
}

.chat {
  width: 95%;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.messages, .microblog_post {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

.message, .microblog_text {
  border-radius: 20px;
  padding: 8px 15px;
  margin-top: 5px;
  margin-bottom: 5px;
  display: inline-block;
}

.yours, .microblog_post {
  align-items: flex-start;
}

.yours .message, .microblog_post .microblog_text {
  margin-right: 25%;
  background-color: #4D4D4D;
  position: relative;
}

.yours .message.last:before, .microblog_post .microblog_text:before {
  content: "";
  position: absolute;
  z-index: 0;
  bottom: 0;
  left: -7px;
  height: 20px;
  width: 20px;
  background: #4D4D4D;
  border-bottom-right-radius: 15px;
}
.yours .message.last:after, .microblog_post .microblog_text:after {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: -10px;
  width: 10px;
  height: 20px;
  background: rgba(0, 0, 0, 1);
  border-bottom-right-radius: 10px;
}

.mine {
  align-items: flex-end;
}

.mine .message {
  color: white;
  margin-left: 25%;
  background: linear-gradient(to bottom, #00D0EA 0%, #0085D1 100%);
  background-attachment: fixed;
  position: relative;
}

.mine .reply .message {
  color: white;
  margin-left: 25%;
  background: #4D4D4D;
  background-attachment: fixed;
  position: relative;
}

.mine .message.last:before {
  content: "";
  position: absolute;
  z-index: 0;
  bottom: 0;
  right: -8px;
  height: 20px;
  width: 20px;
  background: linear-gradient(to bottom, #00D0EA 0%, #0085D1 100%);
  background-attachment: fixed;
  border-bottom-left-radius: 15px;
}

.mine .reply .message.last:before {
  content: "";
  position: absolute;
  z-index: 0;
  bottom: 0;
  right: -8px;
  height: 20px;
  width: 20px;
  background: #4D4D4D;
  background-attachment: fixed;
  border-bottom-left-radius: 15px;
}

.mine .message.last:after {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: 0;
  right: -10px;
  width: 10px;
  height: 20px;
  background: rgba(0, 0, 0, 1);
  border-bottom-left-radius: 10px;
}
.microblog_post {
display: none;
}
    .microblog_reply_textarea {
 width: 100%;
    }
</style>
    
    <div class="chat h-feed">

  <div class="mine messages h-entry" data-id="{{ .RelPermalink }}">
    <h2>{{ if .Title }}
      <a class='u-url p-name' href='{{ .Permalink }}'>{{ .Title }}</a><br/>
        <span class='post-meta'><time class='dt-published' datetime='{{ .Date.Format "2006-01-02 15:04:05 -0700" }}'>{{ .Date.Format "Jan 2, 2006" }}</time></span>
        {{ else }} <a href='{{ .Permalink }}' class='u-url'>
      <span class='post-meta'><time class='dt-published' datetime='{{ .Date.Format "2006-01-02 15:04:05 -0700" }}'>{{ .Date.Format "Jan 2, 2006" }}</time></span></a> {{ end }}
    </h2>
    <div class="message last e-content">
      {{ .Content }}
    </div>
  </div>
<script>
  getReplies('{{ .RelPermalink }}');
</script>
<script type='text/javascript' src='https://micro.blog/conversation.js?url={{ .Permalink }}'></script>


  </div>


    
{{ end }}



</div>

<script>
{{ if in .Page.Params.categories "homeschooling" }}
    $( "#pageDialog" ).dialog({ height: $(window).height() - 10, width: $(window).width() - 20 });
{{ else if in .Page.Params.categories "code" }}
    $( "#pageDialog" ).dialog({ height: $(window).height() - 10, width: $(window).width() - 20 });
{{ else if in .Page.Params.categories "lillihub" }}
    $( "#pageDialog" ).dialog({ height: $(window).height() - 10, width: $(window).width() - 20 });
{{ else if in .Page.Params.categories "RPG" }}
    $( "#pageDialog" ).dialog({ height: $(window).height() - 10, width: $(window).width() - 20 });
{{ else if in .Page.Params.categories "tai chi" }}
    $( "#pageDialog" ).dialog({ height: $(window).height() - 10, width: $(window).width() - 20 });
{{ else if eq .Permalink "https://heyloura.com" }}
{{ else }}
    $( "#pageDialog" ).dialog({ height: $(window).width() <= 600 ?$(window).height() - 10 : $(window).height() / 1.25 , width: $(window).width() <= 600 ? $(window).width() - 20 : 600 });
{{ end }}
    

</script>
{{ end }}
