{{ define "main" }}

<div id="categoryDialog" title="{{ if eq .Title "homeschooling" }}
   Hey Loura! Homeschooling
   {{ else if eq .Title "lillihub" }}
   Hey Loura! Lillihub
   {{ else if eq .Title "code" }}
   Hey Loura! Code
   {{ else if eq .Title "rpg" }}
   Hey Loura! RPG + ACNH
   {{ else if eq .Title "tai chi" }}
   Hey Loura! Tai Chi
   {{else}}
   Hey Loura!{{end}}" class="h-feed post-content">

{{ if eq .Title "homeschooling" }}
   {{ partial "homeschool-list.html" . }}
{{ else if eq .Title "code" }}
   {{ partial "code-list.html" . }}
{{ else if eq .Title "lillihub" }}
   {{ partial "lillihub-list.html" . }}
{{ else if eq .Title "rpg" }}
   {{ partial "rpg-list.html" . }}
{{ else if eq .Title "tai chi" }}
   {{ partial "taichi-list.html" . }}
{{ else }}
<style>
.avatar {
    background: #5755d9;
    border-radius: 50%;
    color: rgba(255, 255, 255, .85);
    display: inline-block;
    font-size: .8rem;
    font-weight: 300;
    height: 1.6rem;
    line-height: 1.25;
    margin: 0;
    position: relative;
    vertical-align: middle;
    width: 1.6rem;
}
.avatar img {
    border-radius: 50%;
    height: 100%;
    position: relative;
    width: 100%;
    z-index: 1;
}
.avatar.avatar-lg {
    font-size: 1.2rem;
    height: 2.4rem;
    width: 2.4rem;
}

.chat {
  width: 95%;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.messages {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

.message {
  border-radius: 20px;
  padding: 8px 15px;
  margin-top: 5px;
  margin-bottom: 5px;
  display: inline-block;
}

.yours {
  align-items: flex-start;
}

.yours .message {
  margin-right: 25%;
  background-color: #4D4D4D;
  position: relative;
}

.yours .message.last:before {
  content: "";
  position: absolute;
  z-index: 0;
  bottom: 0;
  left: -7px;
  height: 20px;
  width: 20px;
  background: #4D4D4D;
  border-bottom-right-radius: 15px;
}
.yours .message.last:after {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: -10px;
  width: 10px;
  height: 20px;
  background: rgba(0, 0, 0, 1);
  border-bottom-right-radius: 10px;
}

.mine {
  align-items: flex-end;
}

.mine .message {
  color: white;
  margin-left: 25%;
  background: linear-gradient(to bottom, #00D0EA 0%, #0085D1 100%);
  background-attachment: fixed;
  position: relative;
}

.mine .reply .message {
  color: white;
  margin-left: 25%;
  background: #4D4D4D;
  background-attachment: fixed;
  position: relative;
}

.mine .message.last:before {
  content: "";
  position: absolute;
  z-index: 0;
  bottom: 0;
  right: -8px;
  height: 20px;
  width: 20px;
  background: linear-gradient(to bottom, #00D0EA 0%, #0085D1 100%);
  background-attachment: fixed;
  border-bottom-left-radius: 15px;
}

.mine .reply .message.last:before {
  content: "";
  position: absolute;
  z-index: 0;
  bottom: 0;
  right: -8px;
  height: 20px;
  width: 20px;
  background: #4D4D4D;
  background-attachment: fixed;
  border-bottom-left-radius: 15px;
}

.mine .message.last:after {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: 0;
  right: -10px;
  width: 10px;
  height: 20px;
  background: rgba(0, 0, 0, 1);
  border-bottom-left-radius: 10px;
}
.noUnderline {
 text-decoration: none;
}
</style>
<div class="chat">

{{ $list := (where .Site.Pages "Type" "post") }}
{{ range $list }}
    
{{ if .Page.Params.categories }}
    {{ else }}
<div class="mine messages h-entry" data-id="{{ .RelPermalink }}">
   <p style="text-align:center;width: 100%;"><small><a href="{{ .Permalink }}" class="u-url"><time class="dt-published" datetime="{{ .Date.Format "2006-01-02 15:04:05 -0700" }}">{{ .Date.Format "Jan 2, 2006 • 15:04" }}</time></a></small></p>
  <div class="message last e-content">
   
{{ if .Title }}
     <b>{{.Title}}</b><br/><br/>
     {{.Summary}} 
     <a href="{{ .Permalink }}" class="u-url">Read More</a>

{{ else }}

    {{ replace .Content "https://cdn.uploads" "https://micro.blog/photos/400x/https://cdn.uploads" | safeHTML}}

{{ end }}

<script>
  getReplies('{{ .RelPermalink }}');
</script>


  </div>
</div>
    {{ end }} <!-- End category if -->

{{ end }} <!-- End range -->

  
</div>
{{end}}

</div>

<script>
$( "#categoryDialog" ).dialog({ height: $(window).height() - 10, width: $(window).width() - 20 });
</script>

{{ end }}
