{{ define "main" }}

<div id="categoryDialog" title="{{ if eq .Title "homeschooling" }}Hey Loura! Homeschooling{{ else if eq .Title "lillihub" }}Hey Loura! Lillihub{{ else if eq .Title "code" }}Hey Loura! Code{{else}}Hey Loura!{{end}}" class="h-feed post-content">

{{ if eq .Title "homeschooling" }}
   {{ partial "homeschool-list.html" . }}
{{ else if eq .Title "lillihub" }}
   {{ partial "lillihub-list.html" . }}
{{ else }}
    {{ partial "code-list.html" . }}
{{end}}

</div>

<script>
$( "#categoryDialog" ).dialog({ height: $(window).height() - 10, width: $(window).width() - 20 });
</script>

{{ end }}
