{{ define "main" }}
<div id="categoryDialog" title="{{ .Title }}" class="h-feed post-content">

{{ if in .Content "homeschooling" }}
    {{ partial "homeschool.html" . }}
{{ else if or (in .Content "lillihub") (in .Content "Lillihub") }}
    {{ partial "lillihub.html" . }}
{{ else if or (in .Content "tai chi") (in .Content "Tai Chi") }}
    {{ partial "taichi" . }}
{{ else }}
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ .Title }}</h1>
  </header>

  <article class="post-content">
    {{ .Content }}
  </article>

</div>
{{ end }}

</div>

<script>
$( "#categoryDialog" ).dialog({ height: $(window).height() - 10, width: $(window).width() - 20 });
</script>
{{ end }}
