

	<link rel='stylesheet' href='/css/escape.css' />
	        <style>
           .microblog_reply_form, .microblog_post {
                padding-top:2em;
                margin-top:2em;
                border-top: solid 2px #e5e5e5;
           }
.microblog_avatar {
  width: 4em !important;
height: 4em !important;
  max-width: 4em !important;
max-height: 4em !important;
float: left;
    margin: 0 1.5em 1.5em 0 !important;
    position: relative;
    top: 0.5em;
}
.microblog_fullname {
font-weight: bold;
}

.bookshelf {
list-style:none;
}
.bookshelf li div {
display: flex;
}

.bookshelf__cover {
 width: 4em !important;
  max-width: 4em !important;
float: left;
    margin: 0 1.5em 1.5em 0 !important;
    position: relative;
    top: 0.5em;
}

.bookshelf__by, .bookshelf__author {
display: none;
}
        </style>
<style>.ui-widget-content { color: #919499 !important }</style>
<div class="escape-scope">
	<body class='right-sidebar is-preload'>
		<div id='page-wrapper'>

			<!-- Header -->
				<section id='header' class='wrapper'>

					<!-- Logo -->
						<div id='logo'>
							<h1><a href='/categories/code'>Hey Loura!</a></h1>
							<p>Sometimes I blog about code.</p>
						</div>

					<!-- Nav -->
<nav id='nav'>
  <ul>
     <li class='current'><a class='icon solid fa-cog' href='/categories/code/'> <span>Code</span></a></li>
  	 <li><a class='icon solid fa-home' href='/categories/homeschooling/'> <span>Homeschooling</span></a></li>
  	 <li><a class='icon solid fa-frog' href='/categories/lillihub/'> <span>Lillihub</span></a></li>
     <li><a href='/categories/productivity/' class='icon fa-chart-bar'> <span>Productivity</span></a></li>
     <li><a href='/categories/rpg/' class='icon fa-heart'> <span>RPG</span></a></li>
  	 <li><a class='icon solid fa-yin-yang' href='/categories/tai-chi/'> <span>Tai Chi</span></a></li>
  </ul>
</nav>

				</section>

			<!-- Main -->
				<section id='main' class='wrapper style2'>
					<div class='title'>Enjoy the post</div>
					<div class='container'>
						<div class='row gtr-150'>
							<div class='col-8 col-12-medium'>

								<!-- Content -->
									<div id='content'>

<article class='box post h-entry'>
<header class='style1'>
<a style='display:none;' class='p-author h-card' href='http://heyloura.com'>Loura</a>
												<h2>{{ if .Title }}<a class='u-url p-name' href='{{ .Permalink }}'>{{ .Title }}</a>{{ else }} <a href='{{ .Permalink }}' class='u-url'><span class='post-meta'><time class='dt-published' datetime='{{ .Date.Format "2006-01-02 15:04:05 -0700" }}'>{{ .Date.Format "Jan 2, 2006" }}</time></span></a> {{ end }}</h2>
											</header>
	<div class='e-content'>

           {{ .Content }}

</div>

<script type='text/javascript' src='https://micro.blog/conversation.js?url={{ .Permalink }}'></script>
										</article>



</nav>

									</div>

							</div>
							<div class='col-4 col-12-medium'>

								<!-- Sidebar -->
									<div id='sidebar'>
										<section class='box'>
											<header>
												<h2>Hello Everyone 👋</h2>
											</header>
											<p>I'm Loura and I like being creative with code. The day job deals mostly with C# and SQL. Which can sometimes be boring.
											So I like to experiment with the front-end. This website being a prime example. 
											</p>
										</section>
										<section class='box'>
											<header>
												<h2>Code & Things</h2>
											</header>
                                                                                        <ul>
												<li><a target="_blank" href="https://github.com/heyloura">Github</a></li>
											</ul>
										</section>
										<section>
											<header>
												<h2>Other things I blog about</h2>
											</header>
											  <ul>
  	 <li><a class='icon solid fa-home' href='/categories/homeschooling/'> <span>Homeschooling</span></a></li>
  	 <li><a class='icon solid fa-frog' href='/categories/lillihub/'> <span>Lillihub</span></a></li>
     <li><a href='/categories/productivity/' class='icon fa-chart-bar'> <span>Productivity</span></a></li>
     <li><a href='/categories/rpg/' class='icon fa-heart'> <span>RPG</span></a></li>
  	 <li><a class='icon solid fa-yin-yang' href='/categories/tai-chi/'> <span>Tai Chi</span></a></li>
  </ul>
										</section>
									</div>
							</div>
						</div>
					</div>
				</section>

			<!-- Highlights -->
				<section id='highlights' class='wrapper style3'>
					<div class='title'>Projects</div>
					<div class='container'>
						<div class='row aln-center'>
							<div class='col-4 col-12-medium'>
								<section class='highlight'>
									<a href='#' class='image featured'><img src='https://heyloura.com/uploads/2023/lillihub-512.png' ></a>
									<h3><a href='https://lillihub.com'>Lillihub</a></h3>
<p>A delightful Micro.blog client. Browse the timeline and manage your posts, bookmarks and books. Lillihub also supports other premium Micro.blog features like notes.
												</p>
									<ul class='actions'>
										<li><a href='https://lillihub.com' class='button style1' target='_top'>Jump on over 🐸</a></li>
									</ul>
								</section>
							</div>
							<div class='col-4 col-12-medium'>
								<section class='highlight'>
									<a href='#' class='image featured'><img src='images/pic03.jpg' alt='' /></a>
									<h3><a href='#'>Coming Soon</a></h3>
									<p>What project will I think of next?</p>
									<!--<ul class='actions'>
										<li><a href='#' class='button style1'>Learn More</a></li>
									</ul>-->
								</section>
							</div>
							<div class='col-4 col-12-medium'>
								<section class='highlight'>
									<a href='#' class='image featured'><img src='images/pic04.jpg' alt='' /></a>
									<h3><a href='#'>Coming Soon</a></h3>
									<p>What project will I think of next?</p>
									<!--<ul class='actions'>
										<li><a href='#' class='button style1'>Learn More</a></li>
									</ul>-->
								</section>
							</div>
						</div>
					</div>
				</section>

			<!-- Footer -->
				<section id='footer' class='wrapper'>
					<div class='title'>The End</div>
					<div class='container'>
<footer>
<p style='text-align:center;'><b>Get in contact</b>: send an email hello@heyloura.com, find me on <a href='https://micro.blog/heyloura' target='_blank'>micro.blog</a>, or at <a href='https://micro.blog/heyloura?remote_follow=1' target='_blank'>@heyloura@heyloura.com</a></p>
</footer>
						<div id='copyright'>
<ul class='links'>
							<li>© heyloura.com. All rights reserved.</li><li>Design: <a href='http://html5up.net'>HTML5 UP</a></li>      
<li><i class='fa-solid fa-square-rss'></i> <a href='https://heyloura.com/feed.xml' target='_top'>all posts</a></li>
<li><i class='fa-solid fa-square-rss'></i> <a href='https://heyloura.com/categories/code/feed.xml' target='_top'>code posts</a></li>
							<li>🕸️💍 <a style='text-decoration:none;' href='https://xn--sr8hvo.ws/%F0%9F%91%8D%F0%9F%93%8A%F0%9F%92%85/previous'>←</a>
                    <a href='https://xn--sr8hvo.ws'>IndieWeb</a>
                    <a style='text-decoration:none;' href='https://xn--sr8hvo.ws/%F0%9F%91%8D%F0%9F%93%8A%F0%9F%92%85/next'>→</a></li>     
<li>website analytics via <a target='_blank' href='https://tinylytics.app/public/k8W9_T_FtwGM-5zeSNC7'>tinylytics.app</a></li>
						</ul>
						</div>
					</div>
				</section>

		</div>

		<!-- Scripts -->
			<script src='/js/jquery.dropotron.min.js'></script>
			<script src='/js/browser.min.js'></script>
			<script src='/js/breakpoints.min.js'></script>
			<script src='/js/util.js'></script>
			<script src='/js/escape.js'></script>
            <script>$('#content img').addClass('image featured');</script>
						</div>
