<a href="/archive" class="app">
  <img width="70" height="70" src="/images/icons8-archive-100.png" alt="blog"> 
  <div class="app__name">archive</div>
</a>

<a href="/categories/code" class="app">
  <img width="70" height="70" src="/images/icons8-code-100.png" alt="status"> 
  <div class="app__name">code</div>
</a>

<a href="/categories/homeschooling" class="app">
  <img width="70" height="70" src="/images/icons8-code-100.png" alt="status"> 
  <div class="app__name">homeschooling</div>
</a>

<a href="/categories/lillihub" class="app">
  <img width="70" height="70" src="/images/icons8-code-100.png" alt="status"> 
  <div class="app__name">lillihub</div>
</a>

<a href="/messenger" class="app">
  <img width="70" height="70" src="/images/icons8-speech-bubble-100.png" alt="status"> 
  <div class="app__name">messenger</div>
</a>

<a href="/photos" class="app">
    <img width="70" height="70" src="/images/1a98abfd31.png" alt="stack-of-photos"> 
    <div class="app__name">photos</div>
</a>

<a href="/categories/productivity/" class="app">
  <img width="70" height="70" src="/images/icons8-code-100.png" alt="status"> 
  <div class="app__name">producivity</div>
</a>

<a href="/categories/rpg" class="app">
  <img width="70" height="70" src="/images/icons8-code-100.png" alt="status"> 
  <div class="app__name">rpg</div>
</a>

<a href="/categories/tai-chi" class="app">
  <img width="70" height="70" src="/images/icons8-code-100.png" alt="status"> 
  <div class="app__name">tai chi</div>
</a>

<div class="app" onclick="openTerminal()">
  <img width="70" height="70" src="/images/icons8-terminal-100.png" alt="terminal">
  <div class="app__name">terminal</div>
</div>
