{{ define "main" }}
<div id="dialogArchive" title="blog">
<table id="table" class="h-feed">
<thead>
<tr>
<th>Date</th>
<th>Title</th>
<th></th>
</tr>
</thead>
<tbody>
{{ $list := (where .Site.Pages.ByDate.Reverse "Type" "post") }}
{{ range $list }}
    
<tr  class="h-entry">
  <td><a href="{{ .Permalink }}" class="u-url"><time class="dt-published" datetime="{{ .Date.Format "2006-01-02 15:04:05 -0700" }}">{{ .Date.Format "2006-01-02" }}</time></a></td>
  <td>
  <a href="{{ .Permalink }}" class="u-url">{{ if .Title }}{{.Title}}{{ else }}{{ end }}</a>

{{ if .Title }}{{ else }}<br/>{{.Summary}}{{ end }}<br/>
  {{- if .Page.Params.categories -}}{{- range $index, $category := .Page.Params.categories -}}<span style="color:orange">#{{$category}}</span> {{end}}{{end}}
  </td>
<td>{{ $stringCheck := .Content }}
		{{ $stringResult := substr $stringCheck 0 10 }}
		{{ $image := "<img" }}
		{{ $video := "<video" }}
		{{ $audio := "<audio" }}
		{{ if in $stringCheck (or ($image) ($video) ($audio)) }}
 📸
{{ end }}</td>
</tr>
    
{{end}}
</tbody>
</table>
</div>

<script>
$( "#dialogArchive" ).dialog({ height: $(window).height() - 10, width: $(window).width() - 20 });
let table = new DataTable('#table', { columnDefs: [{ width: '20%', orderable: true, targets: 0 }, {'max-width': '600', 'targets': 1}], order: [[0, 'desc']]  });
</script>
{{ end }}
